<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#">午餐抽取</a>
		<ul class="nav">
		  <li class="<%= currMenu==1?"active":""%>"><a href="/index.htm">蓄力</a></li>
		  <li class="<%= currMenu==2?"active":""%>"><a href="/tiger.htm">老虎机</a></li>
		  <li class="<%= currMenu==3?"active":""%>"><a href="/catch.htm">抓取</a></li>
		  <li class="<%= currMenu==4?"active":""%>"><a href="/poker.htm">扑克牌</a></li>
		  <li class="<%= currMenu==5?"active":""%>"><a href="/draw.htm">转盘</a></li>
		</ul>
	</div>
</div>
<script>
	var sections = ['浙大西溪','红京鱼','乡绅','kfc','老娘舅','mc','知味观','温州饭摊'];
</script>